{
    "openapi": "3.0.1",
    "info": {
      "title": "Catalytic SDK API",
      "description": "\n## API for the Catalytic SDK\n",
      "contact": {
        "name": "Catalytic for Developers",
        "url": "https://catalytic-developer.readme.io/reference/catalytic-net-sdk",
        "email": "developers@catalytic.com"
      },
      "version": "v1.0.0"
    },
    "servers": [
      {
        "url": "https://sdk.catalytic.com/v1.0.1-pre-35",
        "description": "Catalytic SDK API"
      }
    ],
    "paths": {
      "/api/access-tokens": {
        "get": {
          "tags": [
            "Access Tokens"
          ],
          "summary": "Find Access Tokens",
          "operationId": "FindAccessTokens",
          "parameters": [
            {
              "name": "query",
              "in": "query",
              "description": "Free text query terms to search all attributes for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "status",
              "in": "query",
              "description": "Run or task status to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "process_id",
              "in": "query",
              "description": "Process ID (aka Pushbot ID or Workflow ID) to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "run_id",
              "in": "query",
              "description": "RunID (aka Instance ID) to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "owner",
              "in": "query",
              "description": "Run or task owner to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "category",
              "in": "query",
              "description": "Category of process or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "participating_users",
              "in": "query",
              "description": "Task assignee to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "started_before",
              "in": "query",
              "description": "Latest start date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "started_after",
              "in": "query",
              "description": "Earliest start date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "ended_before",
              "in": "query",
              "description": "Latest end date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "ended_after",
              "in": "query",
              "description": "Earliest end date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "page_token",
              "in": "query",
              "description": "The token representing the result page to get",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "page_size",
              "in": "query",
              "description": "The page size requested",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AccessTokensPage"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/access-tokens/{id}": {
        "get": {
          "tags": [
            "Access Tokens"
          ],
          "operationId": "GetAccessToken",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AccessToken"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/access-tokens/{id}:revoke": {
        "post": {
          "tags": [
            "Access Tokens"
          ],
          "summary": "Revoke Access Token",
          "operationId": "RevokeAccessToken",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The public Id of the AccessToken",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AccessToken"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "403": {
              "description": "Forbidden",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/auth": {
        "post": {
          "tags": [
            "Authentication"
          ],
          "summary": "Create new AccessToken in the provided Catalytic team domain.\r\nAccessToken must be approved prior to use.",
          "operationId": "CreateAccessToken",
          "requestBody": {
            "description": "Params required to create new AccessToken",
            "content": {
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenCreationRequest"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenCreationRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenCreationRequest"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenCreationRequest"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AccessToken"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          }
        }
      },
      "/api/auth/create-and-approve": {
        "post": {
          "tags": [
            "Authentication"
          ],
          "summary": "Create new AccessToken using provided Catalytic team domain and Approve using provided email and password.",
          "operationId": "CreateAndApproveAccessToken",
          "requestBody": {
            "description": "Params required to create and approve new AccessToken",
            "content": {
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenCreationWithEmailAndPasswordRequest"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenCreationWithEmailAndPasswordRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenCreationWithEmailAndPasswordRequest"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenCreationWithEmailAndPasswordRequest"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/AccessToken"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          }
        }
      },
      "/api/auth/wait-for-approval": {
        "post": {
          "tags": [
            "Authentication"
          ],
          "summary": "Wait until AccessToken is approved",
          "operationId": "WaitForAccessTokenApproval",
          "requestBody": {
            "description": "Params required to poll approved AccessToken",
            "content": {
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/WaitForAccessTokenApprovalRequest"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaitForAccessTokenApprovalRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaitForAccessTokenApprovalRequest"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/WaitForAccessTokenApprovalRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/EmptyResult"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          }
        }
      },
      "/api/tables/{id}": {
        "get": {
          "tags": [
            "Data Tables"
          ],
          "summary": "Get metadata for a Data Table by ID",
          "operationId": "GetDataTable",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The ID of the Data Table to get metadata for",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DataTable"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/tables/{id}/download": {
        "get": {
          "tags": [
            "Data Tables"
          ],
          "summary": "Download a Data Table as a CSV or Excel file",
          "operationId": "DownloadDataTable",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The ID of the Data Table to download",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "format",
              "in": "query",
              "description": "The format to export the data table in. csv (default) or excel",
              "schema": {
                "$ref": "#/components/schemas/DataTableExportFormat"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/octet-stream": {
                  "schema": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/tables/{id}:replace": {
        "post": {
          "tags": [
            "Data Tables"
          ],
          "summary": "Replace a Data Table with contents from a CSV or Excel file",
          "operationId": "ReplaceDataTable",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The ID of the Data Table to download",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "headerRow",
              "in": "query",
              "description": "The row number that contains the column headers. Defaults to 1.",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 1
              }
            },
            {
              "name": "sheetNumber",
              "in": "query",
              "description": "The number of the sheet to import. Only applies to Excel files. The first sheet is imported by default.",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 1
              }
            }
          ],
          "requestBody": {
            "content": {
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "binary"
                      }
                    }
                  }
                },
                "encoding": {
                  "files": {
                    "contentType": "application/octet-stream",
                    "style": "form"
                  }
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DataTable"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/tables:upload": {
        "post": {
          "tags": [
            "Data Tables"
          ],
          "summary": "Upload a csv or excel file to create a data table",
          "operationId": "UploadDataTable",
          "parameters": [
            {
              "name": "tableName",
              "in": "query",
              "description": "The name of the table to create. Defaults to the file name without the extension",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "headerRow",
              "in": "query",
              "description": "The row number that contains the column headers. Defaults to 1.",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 1
              }
            },
            {
              "name": "sheetNumber",
              "in": "query",
              "description": "The number of the sheet to import. Only applies to Excel files. The first sheet is imported by default.",
              "schema": {
                "type": "integer",
                "format": "int32",
                "default": 1
              }
            }
          ],
          "requestBody": {
            "content": {
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "binary"
                      }
                    }
                  }
                },
                "encoding": {
                  "files": {
                    "contentType": "application/octet-stream",
                    "style": "form"
                  }
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DataTable"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/tables": {
        "get": {
          "tags": [
            "Data Tables"
          ],
          "summary": "Find Data Tables",
          "operationId": "FindDataTables",
          "parameters": [
            {
              "name": "query",
              "in": "query",
              "description": "Free text query terms to search all attributes for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "status",
              "in": "query",
              "description": "Run or task status to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "process_id",
              "in": "query",
              "description": "Process ID (aka Pushbot ID or Workflow ID) to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "run_id",
              "in": "query",
              "description": "RunID (aka Instance ID) to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "owner",
              "in": "query",
              "description": "Run or task owner to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "category",
              "in": "query",
              "description": "Category of process or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "participating_users",
              "in": "query",
              "description": "Task assignee to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "started_before",
              "in": "query",
              "description": "Latest start date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "started_after",
              "in": "query",
              "description": "Earliest start date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "ended_before",
              "in": "query",
              "description": "Latest end date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "ended_after",
              "in": "query",
              "description": "Earliest end date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "page_token",
              "in": "query",
              "description": "The token representing the result page to get",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "page_size",
              "in": "query",
              "description": "The page size requested",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/DataTablesPage"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/files/{id}": {
        "get": {
          "tags": [
            "Files"
          ],
          "summary": "Get metadata of a file",
          "operationId": "GetFile",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The ID of the File to get metadata for",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/FileMetadata"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/files/{id}/download": {
        "get": {
          "tags": [
            "Files"
          ],
          "summary": "Download a file",
          "operationId": "DownloadFile",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The ID of the file to download",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/octet-stream": {
                  "schema": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/files:upload": {
        "post": {
          "tags": [
            "Files"
          ],
          "summary": "Upload a file",
          "operationId": "UploadFiles",
          "requestBody": {
            "content": {
              "multipart/form-data": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "files": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "binary"
                      }
                    }
                  }
                },
                "encoding": {
                  "files": {
                    "contentType": "application/octet-stream",
                    "style": "form"
                  }
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/FileMetadataPage"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/instances": {
        "get": {
          "tags": [
            "Instances"
          ],
          "summary": "Find Instances",
          "operationId": "FindInstances",
          "parameters": [
            {
              "name": "query",
              "in": "query",
              "description": "Free text query terms to search all attributes for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "status",
              "in": "query",
              "description": "Run or task status to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "process_id",
              "in": "query",
              "description": "Process ID (aka Pushbot ID or Workflow ID) to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "run_id",
              "in": "query",
              "description": "RunID (aka Instance ID) to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "owner",
              "in": "query",
              "description": "Run or task owner to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "category",
              "in": "query",
              "description": "Category of process or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "participating_users",
              "in": "query",
              "description": "Task assignee to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "started_before",
              "in": "query",
              "description": "Latest start date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "started_after",
              "in": "query",
              "description": "Earliest start date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "ended_before",
              "in": "query",
              "description": "Latest end date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "ended_after",
              "in": "query",
              "description": "Earliest end date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "page_token",
              "in": "query",
              "description": "The token representing the result page to get",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "page_size",
              "in": "query",
              "description": "The page size requested",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/InstancesPage"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        },
        "post": {
          "tags": [
            "Instances"
          ],
          "summary": "Starts a new Instance",
          "operationId": "StartInstance",
          "requestBody": {
            "description": "The details of the Instance to start",
            "content": {
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/StartInstanceRequest"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartInstanceRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StartInstanceRequest"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/StartInstanceRequest"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Instance"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/instances/{id}": {
        "get": {
          "tags": [
            "Instances"
          ],
          "summary": "Gets details of a specific Instance",
          "operationId": "GetInstance",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The ID of the Instance to get",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Instance"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/instances/{id}:stop": {
        "post": {
          "tags": [
            "Instances"
          ],
          "summary": "Stops a specific Instance",
          "operationId": "StopInstance",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The ID of the Instance to stop",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Instance"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/instances/{instanceId}/steps": {
        "get": {
          "tags": [
            "Instance Steps"
          ],
          "summary": "Find Instance Steps",
          "operationId": "FindInstanceSteps",
          "parameters": [
            {
              "name": "instanceId",
              "in": "path",
              "description": "The ID of the Instance",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "query",
              "in": "query",
              "description": "Free text query terms to search all attributes for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "status",
              "in": "query",
              "description": "Run or task status to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "process_id",
              "in": "query",
              "description": "Process ID (aka Pushbot ID or Workflow ID) to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "run_id",
              "in": "query",
              "description": "RunID (aka Instance ID) to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "owner",
              "in": "query",
              "description": "Run or task owner to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "category",
              "in": "query",
              "description": "Category of process or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "participating_users",
              "in": "query",
              "description": "Task assignee to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "started_before",
              "in": "query",
              "description": "Latest start date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "started_after",
              "in": "query",
              "description": "Earliest start date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "ended_before",
              "in": "query",
              "description": "Latest end date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "ended_after",
              "in": "query",
              "description": "Earliest end date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "page_token",
              "in": "query",
              "description": "The token representing the result page to get",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "page_size",
              "in": "query",
              "description": "The page size requested",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/InstanceStepsPage"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/instances/{instanceId}/steps/{id}": {
        "get": {
          "tags": [
            "Instance Steps"
          ],
          "summary": "Gets details of a specific Instance Step",
          "operationId": "GetInstanceStep",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The ID of the Instance Steps to get",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "instanceId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/InstanceStep"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/instances/{instanceId}/steps/{id}:complete": {
        "post": {
          "tags": [
            "Instance Steps"
          ],
          "summary": "Completes an Instance Step",
          "operationId": "CompleteStep",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The ID of the Instance Step to complete",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "instanceId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "The values of the fields to complete the task with",
            "content": {
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/CompleteStepRequest"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompleteStepRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompleteStepRequest"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/CompleteStepRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/InstanceStep"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "409": {
              "description": "Conflict",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/instances/{instanceId}/steps/{id}:start": {
        "post": {
          "tags": [
            "Instance Steps"
          ],
          "summary": "Starts a pending Instance Step",
          "operationId": "StartStep",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The ID of the Instance Step to start",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "instanceId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/InstanceStep"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "409": {
              "description": "Conflict",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/instances/{instanceId}/steps/{id}:snooze": {
        "post": {
          "tags": [
            "Instance Steps"
          ],
          "summary": "Snooze a pending Instance Step",
          "operationId": "SnoozeStep",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The ID of the Instance Step to snooze",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "instanceId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/InstanceStep"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "409": {
              "description": "Conflict",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/instances/{instanceId}/steps/{id}:reassign": {
        "post": {
          "tags": [
            "Instance Steps"
          ],
          "summary": "Reassigns a Instance Step",
          "operationId": "ReassignStep",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The ID of the Instance Step to reassign",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "instanceId",
              "in": "path",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "Contains the email address of the user to reassign the Instance Step to",
            "content": {
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/ReassignStepRequest"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReassignStepRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReassignStepRequest"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/ReassignStepRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/InstanceStep"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "409": {
              "description": "Conflict",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/integrations": {
        "get": {
          "tags": [
            "Integrations"
          ],
          "summary": "Find Integration",
          "operationId": "FindIntegrations",
          "parameters": [
            {
              "name": "query",
              "in": "query",
              "description": "Free text query terms to search all attributes for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "status",
              "in": "query",
              "description": "Run or task status to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "process_id",
              "in": "query",
              "description": "Process ID (aka Pushbot ID or Workflow ID) to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "run_id",
              "in": "query",
              "description": "RunID (aka Instance ID) to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "owner",
              "in": "query",
              "description": "Run or task owner to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "category",
              "in": "query",
              "description": "Category of process or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "participating_users",
              "in": "query",
              "description": "Task assignee to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "started_before",
              "in": "query",
              "description": "Latest start date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "started_after",
              "in": "query",
              "description": "Earliest start date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "ended_before",
              "in": "query",
              "description": "Latest end date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "ended_after",
              "in": "query",
              "description": "Earliest end date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "page_token",
              "in": "query",
              "description": "The token representing the result page to get",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "page_size",
              "in": "query",
              "description": "The page size requested",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/IntegrationsPage"
                  }
                }
              }
            },
            "400": {
              "description": "Bad Request",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        },
        "post": {
          "tags": [
            "Integrations"
          ],
          "summary": "Create a new Integration",
          "operationId": "CreateIntegration",
          "requestBody": {
            "description": "The definition of the action to create",
            "content": {
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationCreationRequest"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationCreationRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationCreationRequest"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationCreationRequest"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Integration"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/integrations/{id}": {
        "get": {
          "tags": [
            "Integrations"
          ],
          "summary": "Gets details of a specific Integration definition",
          "operationId": "GetIntegration",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The ID of the Integration to get",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Integration"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        },
        "patch": {
          "tags": [
            "Integrations"
          ],
          "summary": "Update an Integration",
          "operationId": "UpdateIntegration",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The id of the action to update",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "The updates to apply to the action",
            "content": {
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationUpdateRequest"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationUpdateRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationUpdateRequest"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationUpdateRequest"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Integration"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        },
        "delete": {
          "tags": [
            "Integrations"
          ],
          "summary": "Deletes a specific Integration",
          "operationId": "DeleteIntegration",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The ID of the Integration to delete",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "204": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/IActionResult"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/users/{id}": {
        "get": {
          "tags": [
            "Users"
          ],
          "summary": "Gets details of a specific User",
          "operationId": "GetUser",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The ID or username of the User to get",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/users": {
        "get": {
          "tags": [
            "Users"
          ],
          "summary": "List all users on team",
          "operationId": "FindUsers",
          "parameters": [
            {
              "name": "query",
              "in": "query",
              "description": "Free text query terms to search all attributes for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "status",
              "in": "query",
              "description": "Run or task status to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "process_id",
              "in": "query",
              "description": "Process ID (aka Pushbot ID or Workflow ID) to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "run_id",
              "in": "query",
              "description": "RunID (aka Instance ID) to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "owner",
              "in": "query",
              "description": "Run or task owner to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "category",
              "in": "query",
              "description": "Category of process or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "participating_users",
              "in": "query",
              "description": "Task assignee to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "started_before",
              "in": "query",
              "description": "Latest start date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "started_after",
              "in": "query",
              "description": "Earliest start date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "ended_before",
              "in": "query",
              "description": "Latest end date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "ended_after",
              "in": "query",
              "description": "Earliest end date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "page_token",
              "in": "query",
              "description": "The token representing the result page to get",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "page_size",
              "in": "query",
              "description": "The page size requested",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/UsersPage"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/workflows": {
        "get": {
          "tags": [
            "Workflows"
          ],
          "summary": "Find Workflows",
          "operationId": "FindWorkflows",
          "parameters": [
            {
              "name": "query",
              "in": "query",
              "description": "Free text query terms to search all attributes for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "status",
              "in": "query",
              "description": "Run or task status to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "process_id",
              "in": "query",
              "description": "Process ID (aka Pushbot ID or Workflow ID) to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "run_id",
              "in": "query",
              "description": "RunID (aka Instance ID) to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "owner",
              "in": "query",
              "description": "Run or task owner to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "category",
              "in": "query",
              "description": "Category of process or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "participating_users",
              "in": "query",
              "description": "Task assignee to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "started_before",
              "in": "query",
              "description": "Latest start date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "started_after",
              "in": "query",
              "description": "Earliest start date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "ended_before",
              "in": "query",
              "description": "Latest end date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "ended_after",
              "in": "query",
              "description": "Earliest end date of the task or run to search for",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "page_token",
              "in": "query",
              "description": "The token representing the result page to get",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "page_size",
              "in": "query",
              "description": "The page size requested",
              "schema": {
                "type": "integer",
                "format": "int32"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/WorkflowsPage"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/workflows/{id}": {
        "get": {
          "tags": [
            "Workflows"
          ],
          "summary": "Gets details of a specific Workflow process template",
          "operationId": "GetWorkflow",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The ID of the Workflow to get",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/Workflow"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/workflows:import": {
        "post": {
          "tags": [
            "Workflows"
          ],
          "summary": "Imports a new Workflow",
          "operationId": "ImportWorkflow",
          "requestBody": {
            "description": "The Workflow Import request",
            "content": {
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowImportRequest"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowImportRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowImportRequest"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowImportRequest"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/WorkflowImport"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/workflows/imports/{id}": {
        "get": {
          "tags": [
            "Workflows"
          ],
          "summary": "Fetch an existing WorkflowImport request",
          "operationId": "GetWorkflowImport",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The Workflow Import Id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/WorkflowImport"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/workflows/{id}:export": {
        "post": {
          "tags": [
            "Workflows"
          ],
          "summary": "Exports an existing Workflow",
          "operationId": "ExportWorkflow",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The ID of the Workflow to export",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "description": "The Workflow Export request",
            "content": {
              "application/json-patch+json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowExportRequest"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowExportRequest"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowExportRequest"
                }
              },
              "application/*+json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowExportRequest"
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/WorkflowExport"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      },
      "/api/workflows/exports/{id}": {
        "get": {
          "tags": [
            "Workflows"
          ],
          "summary": "Fetch an existing WorkflowExport request",
          "operationId": "GetWorkflowExport",
          "parameters": [
            {
              "name": "id",
              "in": "path",
              "description": "The Workflow Export Id",
              "required": true,
              "schema": {
                "type": "string"
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/WorkflowExport"
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            },
            "404": {
              "description": "Not Found",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/ProblemDetails"
                  }
                }
              }
            }
          },
          "security": [
            {
              "Bearer": []
            }
          ]
        }
      }
    },
    "components": {
      "schemas": {
        "ProblemDetails": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "nullable": true
            },
            "title": {
              "type": "string",
              "nullable": true
            },
            "status": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "detail": {
              "type": "string",
              "nullable": true
            },
            "instance": {
              "type": "string",
              "nullable": true
            },
            "extensions": {
              "type": "object",
              "additionalProperties": {
                "type": "object"
              },
              "nullable": true
            }
          }
        },
        "TokenType": {
          "enum": [
            "user",
            "actionWorker"
          ],
          "type": "string",
          "description": "Represents the type of the entity associated with the AccessToken"
        },
        "AccessToken": {
          "required": [
            "domain",
            "id"
          ],
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "The public Id of the AccessToken",
              "format": "uuid"
            },
            "domain": {
              "type": "string",
              "description": "The Domain of the Catalytic team with which these AccessToken are associated",
              "nullable": true
            },
            "name": {
              "type": "string",
              "description": "The name associated with the AccessToken",
              "nullable": true
            },
            "type": {
              "$ref": "#/components/schemas/TokenType"
            },
            "token": {
              "type": "string",
              "description": "The serialized AccessToken Token",
              "nullable": true
            },
            "secret": {
              "type": "string",
              "description": "The confidential Secret of the AccessToken",
              "nullable": true
            },
            "environment": {
              "type": "string",
              "description": "The environment of the Catalytic team associated with the AccessToken",
              "nullable": true
            },
            "owner": {
              "type": "string",
              "description": "The email address of the user who these AccessToken belong to",
              "nullable": true
            }
          },
          "description": "An AccessToken used for authentication via the SDK"
        },
        "PagingOptions": {
          "type": "object",
          "properties": {
            "size": {
              "type": "integer",
              "description": "The page size of search results",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "A token used to retrieve the next page of results",
              "nullable": true
            },
            "getAllResults": {
              "type": "boolean",
              "description": "Indicates whether all results should be retrieved"
            }
          },
          "description": "Properties required for executing a search request"
        },
        "AccessTokensPage": {
          "type": "object",
          "properties": {
            "accessTokens": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AccessToken"
              },
              "description": "The Collection of AccessTokens in the page",
              "nullable": true
            },
            "nextPageOptions": {
              "$ref": "#/components/schemas/PagingOptions"
            },
            "nextPageToken": {
              "type": "string",
              "nullable": true
            },
            "count": {
              "type": "integer",
              "format": "int32"
            }
          },
          "description": "Represents a page of AccessTokens"
        },
        "AccessTokenCreationRequest": {
          "required": [
            "domain"
          ],
          "type": "object",
          "properties": {
            "domain": {
              "type": "string",
              "description": "Catalytic team domain to authenticate in to (ex: \"myteam.pushbot.com\")",
              "nullable": true
            },
            "name": {
              "type": "string",
              "description": "Optional Name to assign to AccessToken; visible in Catalytic UI",
              "nullable": true
            }
          },
          "description": "Represents a request to generate new AccessToken for authentication into a Catalytic team"
        },
        "AccessTokenCreationWithEmailAndPasswordRequest": {
          "required": [
            "domain",
            "email",
            "password"
          ],
          "type": "object",
          "properties": {
            "email": {
              "type": "string",
              "description": "Optional email address of the Catalytic user for whom the AccessToken should be created",
              "nullable": true
            },
            "password": {
              "type": "string",
              "description": "Optional password of the Catalytic user for whom the AccessToken should be created",
              "nullable": true
            },
            "domain": {
              "type": "string",
              "description": "Catalytic team domain to authenticate in to (ex: \"myteam.pushbot.com\")",
              "nullable": true
            },
            "name": {
              "type": "string",
              "description": "Optional Name to assign to AccessToken; visible in Catalytic UI",
              "nullable": true
            }
          },
          "description": "Represents a request to create and approve new AccessToken for authentication into a Catalytic team\r\nwith passed username and password"
        },
        "WaitForAccessTokenApprovalRequest": {
          "required": [
            "token"
          ],
          "type": "object",
          "properties": {
            "token": {
              "type": "string",
              "description": "AccessToken string",
              "nullable": true
            },
            "waitTimeMillis": {
              "type": "integer",
              "description": "Optional timeout to wait for AccessToken to be approved via UI (milliseconds)\r\nDefaults to 300000ms (5 minutes)",
              "format": "int32",
              "nullable": true
            }
          },
          "description": "A request to activate AccessToken"
        },
        "EmptyResult": {
          "type": "object"
        },
        "FieldType": {
          "enum": [
            "undefined",
            "text",
            "integer",
            "decimal",
            "date",
            "dateTime",
            "json",
            "bool",
            "singleChoice",
            "multipleChoice",
            "instructions",
            "file",
            "table",
            "workflow",
            "instance",
            "user"
          ],
          "type": "string",
          "description": "Represents the types of data that may be stored in Fields."
        },
        "FieldRestrictions": {
          "type": "object",
          "properties": {
            "choices": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "A set of valid choices for this field. If set, FieldType must be\r\nSingleChoice or MultipleChoice",
              "nullable": true
            },
            "valueRequired": {
              "type": "boolean",
              "description": "Indicates whether null or empty values will be rejected"
            }
          },
          "description": "Contains validation rules for field values"
        },
        "DataTableColumn": {
          "type": "object",
          "properties": {
            "name": {
              "type": "string",
              "nullable": true
            },
            "type": {
              "$ref": "#/components/schemas/FieldType"
            },
            "referenceName": {
              "type": "string",
              "nullable": true
            },
            "restrictions": {
              "$ref": "#/components/schemas/FieldRestrictions"
            }
          }
        },
        "DataTableType": {
          "enum": [
            "imported",
            "master",
            "application",
            "instance",
            "batch"
          ],
          "type": "string",
          "description": "The type of data table"
        },
        "TableVisibility": {
          "enum": [
            "open",
            "restricted"
          ],
          "type": "string",
          "description": "Enum of possible Table Visibility values"
        },
        "DataTable": {
          "required": [
            "id",
            "name",
            "teamName"
          ],
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "The unique ID of the Data Table",
              "format": "uuid"
            },
            "dataTableId": {
              "type": "string",
              "description": "Alias for `Id`",
              "format": "uuid"
            },
            "referenceName": {
              "type": "string",
              "description": "Gets a unique reference name for this Data Table",
              "nullable": true
            },
            "name": {
              "type": "string",
              "description": "The descriptive name of the Data Table",
              "nullable": true
            },
            "teamName": {
              "type": "string",
              "description": "The name of the team in which the Data Table is defined",
              "nullable": true
            },
            "description": {
              "type": "string",
              "description": "A description of what kind of data is stored in the Table",
              "nullable": true
            },
            "columns": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/DataTableColumn"
              },
              "description": "The ordered names of the columns in this Data Table",
              "nullable": true
            },
            "isArchived": {
              "type": "boolean",
              "description": "Whether or not this table is archived and excluded from default searches"
            },
            "type": {
              "$ref": "#/components/schemas/DataTableType"
            },
            "visibility": {
              "$ref": "#/components/schemas/TableVisibility"
            },
            "visibleToUsers": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "The users who can find and modify this Data Table",
              "nullable": true
            },
            "rowLimit": {
              "type": "integer",
              "description": "The maximum number of rows in this Data Table",
              "format": "int32"
            },
            "columnLimit": {
              "type": "integer",
              "description": "The maximum number of columns in this Data Table",
[...]
